#diposit{
    border: 5px solid whitesmoke;
    outline: navajowhite;
    margin-right: 25px;
    padding-right: 20px;
    
}
#btn-withdraw{
    border: 5px solid whitesmoke;
    outline: navajowhite;
    
    
}

